table {
  table-layout: fixed;
  
}

th {
  opacity: 50%;
  font-weight: var(--font-medium);
  font-size: var(--font-ui-small)
}

th.quarter {
  font-weight: var(--font-semibold);
}

td {
  opacity: 90%;
}

th, td {
  text-align: center;
  width: 0.45em;
  height: 0.45em;
  padding: 0.2em;
}

td:hover:not(:empty), .weekNumber:hover {
  background-color: var(--background-modifier-active-hover);
  border-radius: 10%;
}

.weekNumber {
  opacity: 30%;
  text-align: start;
  font-weight: var(----font-light);
}

.today {
  color: var(--text-accent);
}

.header {
  opacity: 75%;
  display: flex;
  justify-content: space-between;
}

.header h1, .header .buttons {
  display: inline-block;
}

.header h1 {
  font-weight: var(--font-light);
  font-size: var(--font-ui-medium);
}

.header .buttons {
  align-content: center;
}

.header .buttons > *:hover {
  color: var(--text-accent);
}

.setting-example {
  color: var(--text-accent);
}